html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.custom-accordion-header {
    font-size: 1.25rem; /* Baþlýðý biraz büyütür */
    font-weight: 700; /* Kalýn yapar */
    color: #0d6efd; /* Bootstrap primary rengi */
    text-shadow: 0 0 2px rgba(13, 110, 253, 0.6); /* Hafif gölge */
}

    .custom-accordion-header i {
        color: #0d6efd; /* Ýkon rengi baþlýkla uyumlu */
    }